<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 学问社区</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）：</label>
                    <input type="text" class="form-control" id="title" name="title" autocomplete="off" placeholder="问题标题..." th:value="${title}">
                </div>
                <div class="form-group">
                    <label for="title">问题补充（必填，请参照右侧提示）：</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="10" th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="title">添加标签：</label>
                    <input type="text" class="form-control"  id="tag" name="tag" onclick="showSelectTag()"  autocomplete="off" placeholder="输入标签，以，号分隔" th:value="${tag}">
                    <div id="select-tag" class="question-tag-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#technology" aria-controls="technology" role="tab" data-toggle="tab">技术</a></li>
                            <li role="presentation"><a href="#complaints" aria-controls="complaints" role="tab" data-toggle="tab">吐槽</a></li>
                            <li role="presentation"><a href="#campus" aria-controls="campus" role="tab" data-toggle="tab">校园</a></li>
                            <li role="presentation"><a href="#game" aria-controls="game" role="tab" data-toggle="tab">游戏</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="technology">
                                <span class="label label-info"><span class="glyphicon glyphicon-tags" onclick="selectTag('Java')">Java</span></span>
                                <span class="label label-info"><span class="glyphicon glyphicon-tags" onclick="selectTag('Spring')">Spring</span></span>
                                <span class="label label-info"><span class="glyphicon glyphicon-tags" onclick="selectTag('Spring Boot')">Spring Boot</span></span>
                                <span class="label label-info"><span class="glyphicon glyphicon-tags" onclick="selectTag('Mysql')">Mysql</span></span>
                                <span class="label label-info"><span class="glyphicon glyphicon-tags" onclick="selectTag('redis')">redis</span></span>
                                <span class="label label-info"><span class="glyphicon glyphicon-tags" onclick="selectTag('Spring Cloud')">Spring Cloud</span></span>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="complaints">
                                <span class="lable label-info"><span class="glyphicon glyphicon-tags" onclick="selectTag('Spring Cloud')">素质</span></span>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="Campus">...</div>
                            <div role="tabpanel" class="tab-pane" id="game">...</div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid main">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12"
                                 th:text="${error}" th:if="${error != null}">

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">发布</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            ● 问题标题：请用精简的语言描述您发布的问题，不超过25字<br>
            ● 问题补充：详细补充您的问题内容，并确保问题面熟清晰直观，并提供一些相关的资料<br>
            ● 选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
        </div>
    </div>
</div>
</body>
</html>